.navigation_trango_btn {
  border: none;
  width: 133px;
  height: 45px;
  border-radius: 40px;
  background-image: linear-gradient(to left, #1896de 95%, #71ccff);
}
.navbar-size {
  z-index: 8000;
}
.navigation_trango_btn_content {
  width: 80px;
  height: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
.apple {
  width: 16.2px;
  object-fit: contain;
  cursor: pointer;
}
.android {
  width: 17.5px;
  object-fit: contain;
  cursor: pointer;
}
.setColor {
  background-color: #121a21;
  z-index: 4000 !important;
}
.setColor-download {
  background-color: #121a21;
  z-index: 4000 !important;
  padding-top: 55px;
}
.cursor {
  cursor: pointer;
}
.padding-resp {
  padding-left: 5px;
}

.check {
  border-bottom: 2px solid black !important;
  font-weight: bolder;
  padding-bottom: 8px;
  font-size: 18px;
}
.check:hover {
  border-bottom: 2px solid black !important;
  padding-bottom: 8px;
}
.navbar-size a:hover {
  text-decoration: none;
  padding-bottom: 8px;
  font-weight: bolder;
}
.hover:hover {
  font-weight: bold;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: none;
}
@media (max-width: 991px) {
  .padding-resp {
    padding-left: 0px;
  }
}

.border-change:hover {
  border-bottom: 2px solid black;
  color: none;
  font-weight: bolder;
}
.navbar-nav a:hover {
  text-decoration: none;
}
.navbar-nav a:visited {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 2px solid #1896de;
}
.download-link {
  color: #fff;
  border: none;
  width: 122px;
  height: 40px;
  border-radius: 40px;
  background: transparent;
  border: 2px solid #1896de;
}
.my-popOver {
  position: absolute;
}

.side-info-button {
  float: left;
  padding-top: 0px;
  position: relative;
  margin-left: 16px !important;
}
.side-info-button-err {
  float: left;
  padding-top: 0px;
  position: relative;
  margin-left: 20px !important;
}

@keyframes products-animation {
  0% {
    transform: translate3d(0px, 10%, 0px);
  }
}
@keyframes products-animation {
  100% {
    transform: none;
  }
}

@media (max-width: 1476px) {
  .side-info-detail {
    width: 80%;
  }
  .side-info-head {
    width: 100%;
  }
}

@media (max-width: 1115px) {
  .consumer-solutions-img {
    height: 25px;
  }
  .solutions-footer-detail {
    font-size: 17px;
  }
  .side-info-detail {
    font-size: 16px;
  }
  .solutions-sub-head {
    font-size: 15px;
  }
}
@media (max-width: 1033px) {
  .solutions-sub-head {
    font-size: 14px;
  }
  .side-info-detail {
    font-size: 15px;
  }
  .solutions-footer-detail {
    font-size: 16px;
  }
}
