
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Axiforma,poppins, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  margin: 0px;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,Axiforma,poppins, 'Courier New',
    monospace;
}
@font-face {
  font-family: "poppins";
  src: local("Poppins"),
    url("./Assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "axiforma";
  src: local("axiforma"),
    url("./Assets/fonts/Axiforma/Kastelov\ -\ Axiforma\ Regular.otf") format("truetype");
  font-weight: normal;
}